.main-function {
    height: 100vh;
}

.ATTENTION {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: var(--h1-font-size);
    color: var(--title-color);
    transition: transform 0.5s;
}

.ATTENTION:hover {
    transform: translate(-50%, -50%) scale(1.1);
}