.main-function {
    color: rgb(255, 255, 255);
    overflow-y: visible;
}


.row {
    width: calc(100%);
    padding-left: 50px;
    padding-right: 50px;
}

.reel-container {
    width: calc(100%);
    padding: 2vh 50px;
    padding-top: calc(var(--header-height) + 1.5rem + 20px);
    overflow-x: hidden;
    overflow-y: hidden;
}

.reel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: calc(10 * 200px + 9 * 10px);
    gap: 6px;

    position: relative;
    left: 0px;
}

.hidden {
    display: none
}

@media screen and (max-width: 568px) {
    .change {
        display: none
    }

    .reel-container {
        overflow-x: scroll;
        overflow-y: visible;
        padding-left: 30px;
    }

    .Commends p {
        font-size: 16px;
    }
}

@media screen and (min-width: 568px) {
    .info h1 {
        font-size: 60px;
    }

    .Commends p {
        font-size: 24px;
    }

    /* .item {
        width: 80px
    } */

    .item:hover {
        scale: 1.04;
    }


}


.item {
    position: relative;
    width: 160px;
    height: 80vh;
    align-items: center;
    /* box-shadow: 0px 1px 4px rgba(80, 80, 80, 0.6); */

    opacity: 0;
    transform: translateY(20vh);
    transition: opacity 0.5s ease, transform 0.5s ease, scale 0.5s ease;
}


.item.visible {
    opacity: 1;
    transform: translateY(0);
}

.item img {
    position: absolute;
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
    z-index: -1;
}

.item h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 32px;
    writing-mode: vertical-lr;

    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: flex-start;

    opacity: 0;
    z-index: -1000;
}

.fadeIn {
    animation: fadeInAnimation .5s forwards;
}

.fadeOut {
    animation: fadeOutAnimation .5s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        z-index: -1000;
    }

    1% {
        opacity: 0;
        z-index: 1000;
    }

    100% {
        opacity: 1;
        z-index: 1000;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
        z-index: 1000;
    }

    99% {
        opacity: 0;
        z-index: 1000;
    }

    100% {
        opacity: 0;
        z-index: -1000;
    }
}

.updates-back {
    display: inline-block;
    margin-bottom: 10px;

    box-sizing: border-box;
    border-bottom: 1px solid transparent;
}



.updates-back span {
    color: #fff;
    font: 12px / 1.1 D-DIN-Medium, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    -webkit-transition: -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
    transition: -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
    transition: transform .5s cubic-bezier(.19, 1, .22, 1);
    transition: transform .5s cubic-bezier(.19, 1, .22, 1), -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
}

.updates-back:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.photowall img {
    object-fit: cover;
    height: calc(calc(100vh) - calc(var(--header-height) + 1.5rem));
    min-width: 100%;
}

.describe {
    margin-top: calc(var(--header-height) + 1.5rem);
    margin-bottom: 10%;
    width: 100%;
}

.info {
    position: relative;
    margin: 2.5rem 0;
    margin-left: 30px;
}

.info::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #c00000;
    left: -30px;
}

.Commends {
    font-family: "plantc", "Source Han Serif", serif;
}




.change {
    position: absolute;
    width: var(--mb-50);
    height: 80vh;
    margin-top: calc(var(--header-height) + 1.5rem + 20px);
    top: 0;
    bottom: 0;

    z-index: 200;

    font-size: 24px;
    transition: all 0.6s;

    background-color: rgba(var(--body-color), 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.left_change {
    left: 0;
}

.right_change {
    right: 0;
}

.left_change::before,
.right_change::before {
    color: rgba(255, 252, 252, 0.759);
    font-size: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    animation: rightMoveAnimation .5s forwards;
}

.left_change::before {
    content: '\276E';
    left: 50%;
    animation: leftMoveAnimation 2s infinite ease-in-out;
}

.right_change::before {
    content: '\276F';
    right: 50%;
    animation: rightMoveAnimation 2s infinite ease-in-out;
}

@keyframes leftMoveAnimation {
    0% {
        left: 50%;
    }

    50% {
        left: 30%;
    }

    100% {
        left: 50%;
    }
}

@keyframes rightMoveAnimation {
    0% {
        right: 50%;
    }

    50% {
        right: 30%;
    }

    100% {
        right: 50%;
    }
}


.ATTENTION {
    width: 100%;
    min-height: 100%;
    margin-top: 18%;
    margin-bottom: 18%;

    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.ATTENTION h1 {
    text-align: center;
    transition: transform 0.5s;
}

.ATTENTION h1:hover {
    transform: scale(1.1);
}