.video-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;

    /* 动画设置 */
    opacity: 0;
    /* 开始时透明 */
    transition: opacity 0.5s ease-out;
    /* 为平滑过渡添加的样式 */
}

/* 当元素进入视口时，触发的动画效果 */
.overlay-text.active {
    animation: floatUp 1s ease-out forwards;
}

@keyframes floatUp {
    0% {
        transform: translate(-50%, -20%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.overlay-text h1 {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.change {
    width: 12vh;
    height: 100vh;
    font-size: 24px;
    transition: all 0.6s;
}

.change:hover {
    background-color: rgba(var(--body-color), 0.9);
    backdrop-filter: blur(5px);
}

.left_change {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.right_change {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.left_change::before,
.right_change::before {
    color: rgba(255, 252, 252, 0.759);
    font-size: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.left_change::before {
    content: '\276E';
    left: 50%;
    /* 左箭头 */
}

.right_change::before {
    content: '\276F';
    right: 50%;
    /* 右箭头 */
}

/* 当鼠标悬停时，箭头透明度变为 1 */
.left_change:hover::before {
    opacity: 1;
    left: 30%;
}

.right_change:hover::before {
    opacity: 1;
    right: 30%;
}